@mixin bounce{
    $duration:null;
    $start:null;
    $distance:null;
  }

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
     40% {transform: translateY(-60px);}
     60% {transform: translateY(-30px);}
     80% {transform: translateY(-15px);}
    } 

@function random-hex() {
    $rgb: '';
    $i: 6;
    @while $i>0 {
        $hex-unit: random(16) - 1;
        $letters: A, B, C, D, E, F;
        @if $hex-unit>9 {
            $hex-unit: nth($letters, ($hex-unit - 9));
        }
        ;
        $rgb: str-insert($rgb, ("" + $hex-unit), 0);
        $i: $i - 1;
    }
    @return unquote("#"+"#{$rgb}");    }

body{
    height:100vh;
    width: 100vw;
}

.bg-random{
    background-color:random-hex();
    }


.bounce{ 
     @extend .bg-random;
     animation-duration: 1s;
     animation-name: bounce;
     width:75px;
     height:75px;
     border-radius:50px;
     position:absolute;
     top: 50%;
     left: 50%;
     margin: 0 auto; 
     @include bounce();
    }