.exercise h2, .exercise .exercise-title {
  color: green;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.exercise {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
  justify-items: center;
  align-items: center;
  border: 1px solid red;
  padding: 0.75rem;
  row-gap: 0.75rem;
}
.exercise .exercise-title {
  text-decoration: underline blue;
}
.exercise h2 {
  border: 1px solid red;
  padding: 1rem;
}

.first-cont {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
  grid-template-rows: 1.25fr;
  width: 100%;
  text-align: center;
}
.first-cont .first {
  grid-column: 1/2;
  grid-row: 1/2;
  color: blue;
  border: 0.0625rem solid green;
  font-size: 1rem;
}
.first-cont .second {
  grid-column: 2/3;
  grid-row: 1/2;
  color: red;
  border: 0.0625rem solid green;
  font-size: 1rem;
}
.first-cont .third {
  grid-column: 3/4;
  grid-row: 1/2;
  color: blue;
  border: 0.0625rem solid green;
  font-size: 1rem;
}
.first-cont .fourth {
  grid-column: 4/5;
  grid-row: 1/2;
  color: red;
  border: 0.0625rem solid green;
  font-size: 1rem;
}

.mid-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mid-content :nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.mid-content :nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.mid-content :nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
}
.mid-content :nth-child(4) {
  background-color: #cccccc;
  color: #333333;
}
.mid-content :nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
}
.mid-content :nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
.mid-content :nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
}
.mid-content :nth-child(8) {
  background-color: #999999;
  color: #666666;
}
.mid-content :nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
}
.mid-content :nth-child(10) {
  background-color: gray;
  color: gray;
}
.mid-content :nth-child(10) {
  background-color: blue;
  color: red;
}
.mid-content :nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
}
.mid-content :nth-child(12) {
  background-color: #666666;
  color: #999999;
}
.mid-content :nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
}
.mid-content :nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
.mid-content :nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
}
.mid-content :nth-child(16) {
  background-color: #333333;
  color: #cccccc;
}
.mid-content :nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
}
.mid-content :nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.mid-content :nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}

.fs-1rem,
.fs-2rem,
.fs-3rem {
  border: 1px solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}

.second-cont {
  width: 100%;
  text-align: center;
}
.second-cont .fifth {
  color: green;
  border: 0.0625rem solid blue;
  font-size: 1.5rem;
}

/*# sourceMappingURL=flowstyle.css.map */
