@use 'base';

@mixin article-card($color:blue) {
    color:$color;
    border:rem(1px) solid base.$color-tertiary;
    font-size:1rem;
}

@mixin article-footer($color:green){
    color:$color;
    border: rem(1px) solid base.$color-secondary;
    font-size:rem(24px);
}

@function rem($val1){
    @return calc($val1 / 16px) + rem ;
}

%text{
    color:base.$color-tertiary;
}

$base-color: rgb(255, 255, 255);


$base-color1: black;

.exercise{
    display:grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    justify-items: center;
    align-items: center;
    border: 1px solid base.$color-primary;
    padding: 0.75rem;
    row-gap: 0.75rem;
    
    & .exercise-title{
        @extend %text;
        text-decoration: underline base.$color-secondary;
    }

    & h2{
        @extend %text;
        border: 1px solid base.$color-primary;
        padding: 1rem;
    }
        
}

.first-cont{
    display:grid;
    grid-template-columns: 0.40fr 0.40fr 0.40fr 0.40fr;
    grid-template-rows: 1.25fr;
    width:100%;
    text-align:center;

    & .first{ 
        grid-column: 1/2;
        grid-row: 1/2;
        @include article-card($color:blue);
    }
    
    & .second{
        grid-column: 2/3;
        grid-row: 1/2;
        @include article-card($color:red);
    }
    
    & .third{
        grid-column: 3/4;
        grid-row: 1/2;
        @include article-card($color:blue);
    }
    
    & .fourth{
        grid-column: 4/5;
        grid-row: 1/2;
        @include article-card($color:red);
    }

}

.mid-content{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    flex-wrap: wrap;

    @for $i from 1 through 9 {
        & :nth-child(#{$i}) {
          background-color: darken($base-color, $i * 5%);
        }
      }

    @for $i from 11 through 19 {
        & :nth-child(#{$i}) {
          background-color: lighten($base-color1, $i * 5%);
        }
      }
}

.fs-1rem, 
.fs-2rem, 
.fs-3rem{
    border: 1px solid base.$color-primary;
    width:rem(45px);
    height:rem(45px);
}

.second-cont{
    width:100%;
    text-align: center;

    & .fifth{
        @include article-footer($color:green);
    }
}