
@mixin random-hex(){
  background: rgb(random(255), random(255), random(255));
}

.columns{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}    

.col{
    height: 200px;
    width:100px;
    margin:2px;
    $num-colors:12;

    @for $i from 0 to $num-colors {
      &:nth-child(#{$i}) {
        @include random-hex();
  }}}
