$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

@mixin article-card($color:blue) {
    color:$color;
    border: 1px solid $color-tertiary;
    font-size:1rem;
}

@mixin article-footer($color:green){
    color:$color;
    border: 1px solid $color-secondary;
    font-size:24px;
}

.exercise{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.75fr;
    justify-items: center;
    align-items: center;
    border: 1px solid $color-primary;
    padding: 0.75rem;
    row-gap: 0.75rem;

    .exercise-title{
        color:$color-tertiary;
        text-decoration: underline $color-secondary;
    }
        
}

.first-cont{
    display:grid;
    grid-template-columns: 0.40fr 0.40fr 0.40fr 0.40fr;
    grid-template-rows: 1.25fr;
    width:100%;
    text-align:center;

    .first{ 
        grid-column: 1/2;
        grid-row: 1/2;
        @include article-card($color:blue);
    }
    
    .second{
        grid-column: 2/3;
        grid-row: 1/2;
        @include article-card($color:red);
    }
    
    .third{
        grid-column: 3/4;
        grid-row: 1/2;
        @include article-card($color:blue);
    }
    
    .fourth{
        grid-column: 4/5;
        grid-row: 1/2;
        @include article-card($color:red);
    }

}

.second-cont{
    width:100%;
    text-align: center;

    .fifth{
        @include article-footer($color:green);
    }
}