$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

.exercise{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
    border: 1px solid $color-primary;
    padding: 0.75rem;

    .exercise-title{
        color:$color-tertiary;
        text-decoration: underline $color-secondary;
    }
        
}

section{
    width:100%;
    display:grid;
    grid-template-columns: 0.40fr 0.40fr 0.40fr 0.40fr;
    grid-template-rows: 1.25fr;
    text-align: center;

    .first{ 
        grid-column: 1/2;
        grid-row: 1/2;
        border: 1px solid $color-tertiary;
        color:$color-secondary;
    }
    
    .second{
        grid-column: 2/3;
        grid-row: 1/2;
        border: 1px solid $color-tertiary;
        color:$color-primary;
    }
    
    .third{
        grid-column: 3/4;
        grid-row: 1/2;
        border: 1px solid $color-tertiary;
        color:$color-secondary;
    }
    
    .fourth{
        grid-column: 4/5;
        grid-row: 1/2;
        border: 1px solid $color-tertiary;
        color:$color-primary;
    }
}
